$secondary: #e53151;
$backgroundPage: #e5e5e5;
$backgroundAside: #fff;
$backgroundHeader: linear-gradient(180deg, #18183a 0%, #16286f 100%);
$primary-1000: #181738;
$primary-900: #2a294b;
$primary-800: #181d4d;
$primary-700: #151f54;
$primary-600: #0054d1;
$primary-500: #504f7e;
$primary-400: #818cb3;
$primary-300: #73758d;
$primary-200: #d2d6e3;
$primary-100: #e8ebf4;